<!DOCTYPE html>
<html ng-app="app" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Skyrim Texture Companion</title>
    <link rel="stylesheet" href="vendors.css">
    <link rel="stylesheet" href="app.css">
</head>
<body ng-controller="AppController as vm">
<div class="side">
    <div class="side-head">
        <h1 class="side-title">
            Skyrim<br>
            Texture<br>
            Companion
        </h1>
    </div>
    <div class="side-main">
        <div class="thumbs">
            <img class="thumb" ng-repeat="image in vm.images" ng-class="{active:vm.isSelectedImage(image)}"
                 ng-click="vm.selectImage(image)" ng-src="{{ vm.getThumb(image) }}"
                 alt="" width="178" height="100">
        </div>
    </div>
    <!--<select class="custom-select" ng-if="packs" ng-model="selection.image"-->
    <!--ng-options="image as image + 1 for image in images">-->
    <!--</select>-->
    <div class="side-footer">
        <a href="https://github.com/mrmnml/skytexco" class="git">click for some git</a>
    </div>
</div>
<div class="main">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="picker">
                    <select class="custom-select" ng-model="vm.selection.packs.left">
                        <option ng-repeat="pack in vm.packs" class="dropdown-item" href="#" ng-if="pack.title !== 'thumbs'"
                                value="{{ pack.id }}">
                            {{pack.title}}
                        </option>
                    </select>
                    <span class="image-number">#{{ vm.selection.image +1 }}</span>
                    <select class="custom-select" ng-model="vm.selection.packs.right">
                        <option ng-repeat="pack in vm.packs" class="dropdown-item" href="#" ng-if="pack.title !== 'thumbs'"
                                value="{{ pack.id }}">
                            {{pack.title}}
                        </option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="slider">
                    <div class="spinner">
                        <i ng-if="vm.bothLoaded()" class="fa fa-cog fa-spin fa-3x fa-fw "></i>
                    </div>
                    <div class="slider responsive">
                        <div class="left image">
                            <dyn-img loading="vm.loading.left" ng-if="vm.loaded" dyn-src="vm.getImagePath('left')"></dyn-img>
                        </div>
                        <div class="right image">
                            <dyn-img loading="vm.loading.right" ng-if="vm.loaded" dyn-src="vm.getImagePath('right')"></dyn-img>
                        </div>
                        <!--<div class="right image">-->
                            <!--&lt;!&ndash;<img position="right" />&ndash;&gt;-->
                            <!--<img loading="vm.loading.right" ng-if="vm.loaded" my-src="{{ vm.getImagePath('right') }}"/>-->
                        <!--</div>-->
                    </div>
                </div>
            </div>
        </div>
        {{ vm.selection }}
    </div>
</div>

<script src="vendors.js"></script>
<script src="app.js"></script>
<script type="text/javascript">
    $('.slider').slider({
        showInstruction: false
    });
</script>
</body>
</html>