
html {
  background-color: white;
}

html, body, .container {
  height: 100%;
}

.picker {
  margin-bottom: 10px;
  select {
    display: inline-block;
  }
}

.container {
  text-align: center;
}

.slider {
  img {
    background-image: none;
  }
}

.side {
  padding: 20px 10px 10px 10px;
  background-color: #2b2d2f;
  width: 220px;
  position: fixed;
  height: 100%;

  .side-head {
    top: 0;
    z-index: 10;
    width: 180px;
    height: 120px;
    background-color: #2b2d2f;
    h1 {
      font-size: 30px;
      color: #fff;
    }
  }
  .side-main {
    padding-bottom: 160px;
    height: 100%;
    .thumbs {
      overflow-y: scroll;
      overflow-x: hidden;
      max-height: 100%;
    }
  }

  .thumb {
    margin-bottom: 10px;
    cursor: pointer;
    &.active {
      border: 2px solid #fff;
    }
  }

  .side-footer {
    position: fixed;
    bottom: 0;
    z-index: 10;
    width: 180px;
    height: 50px;
    background-color: #2b2d2f;
  }
}

.main {
  padding: 10px;
  height: 100%;
  margin-left: 220px;
  background-color: #1a1a1a;

  .image-number {
    color: #fff;
    font-size: 20px;
    vertical-align: middle;
  }
}

.git {
  position: absolute;
  bottom: 10px;
}

.loading {
  background-color: #123123;
}

.spinner {
  position: absolute;
  top: 50%;
  width: 100%;
  z-index: 100;
  color: #fff;
}