html {
  background-color: white;
}

html, body, .container {
  height: 100%;
}

.picker {
  margin-bottom: 10px;
  select {
    display: inline-block;
  }
}

.container {
  text-align: center;

  width: 90%;
}

.side-title {
  position: relative;
  h1 {
    font-size: 30px;
    color: #fff;
  }
}

.side {
  padding: 10px;
  background-color: #2b2d2f;
  width: 200px;
  position: fixed;
  height: 100%;
}

.main {
  padding: 10px;
  height: 100%;
  margin-left: 200px;
  background-color: #1a1a1a;
}

.git {
  position: absolute;
  bottom: 10px;
}

.thumbs {
  max-height: 80%;
  overflow-y: scroll;
  overflow-x: hidden;
}

.thumb {
  padding-bottom: 10px;
  cursor: pointer;
}